[submodule "Core/vendor/GLFW"]
	path = Core/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Core/vendor/glm"]
	path = Core/vendor/glm
	url = https://github.com/g-truc/glm/
[submodule "Core/vendor/imgui"]
	path = Core/vendor/imgui
	url = https://github.com/StudioCherno/imgui
	branch = Hazel
[submodule "Core/vendor/tracy/tracy"]
	path = Core/vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy
	branch = v0.9.1
[submodule "Core/vendor/NFD-Extended/NFD-Extended"]
	path = Core/vendor/NFD-Extended/NFD-Extended
	url = https://github.com/btzy/nativefiledialog-extended
